RewriteEngine on

RewriteRule ^login$   ?page=login [NC,QSA,L]
RewriteRule ^register$  ?page=register [NC,QSA,L]

RewriteRule ^api/user$   api/users.php [NC,QSA,L]
RewriteRule ^api/users$   api/users.php?view=all [NC,QSA,L]
RewriteRule ^api/user/(.*)$   api/users.php?view=single&username=$1 [NC,QSA,L]

RewriteRule ^api/password-reset/(.*)$   api/password-reset.php?username=$1 [NC,QSA,L]

RewriteRule ^api/type$   api/types.php [NC,QSA,L]
RewriteRule ^api/types$   api/types.php?view=all [NC,QSA,L]
RewriteRule ^api/type/(.*)$   api/types.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/types-pictures$   api/types-pictures.php?view=all [NC,QSA,L]
RewriteRule ^api/type-picture/(.*)$   api/types-pictures.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/interest$   api/interests.php [NC,QSA,L]
RewriteRule ^api/interests$   api/interests.php?view=all [NC,QSA,L]
RewriteRule ^api/interest/(.*)$   api/interests.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/interest-v2$   api/interests-v2.php [NC,QSA,L]
RewriteRule ^api/interests-v2$   api/interests-v2.php?view=all [NC,QSA,L]
RewriteRule ^api/interest-v2/(.*)$   api/interests-v2.php?view=single&id=$1 [NC,QSA,L]
RewriteRule ^api/interests-v2?random=true$   api/interests.php?view=all&random=true [NC,QSA,L]


RewriteRule ^api/field$   api/fields.php [NC,QSA,L]
RewriteRule ^api/fields$   api/fields.php?view=all [NC,QSA,L]
RewriteRule ^api/field/(.*)$   api/fields.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/rule$   api/rules.php [NC,QSA,L]
RewriteRule ^api/rules$   api/rules.php?view=all [NC,QSA,L]
RewriteRule ^api/rule/(.*)$   api/rules.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/result$   api/results.php [NC,QSA,L]
RewriteRule ^api/results$   api/results.php?view=all [NC,QSA,L]
RewriteRule ^api/result/(.*)$   api/results.php?view=single&id=$1 [NC,QSA,L]
RewriteRule ^api/results/(.*)$   api/results.php?view=all&username=$1 [NC,QSA,L]

RewriteRule ^api/results-details$   api/results-details.php?view=all [NC,QSA,L]
RewriteRule ^api/result-detail/(.*)$   api/results-details.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/feedback$   api/feedback.php?view=all [NC,QSA,L]
RewriteRule ^api/feedback/(.*)$   api/feedback.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/setting$   api/setting.php [NC,QSA,L]

RewriteRule ^api/my-account$   api/my-account.php [NC,QSA,L]
RewriteRule ^api/my-account/change-password$   api/my-account.php?change-password=1 [NC,QSA,L]

RewriteRule ^api/certainty-factor$   api/certainty-factor.php [NC,QSA,L]
RewriteRule ^api/certainty-factor$   api/certainty-factor.php?view=all [NC,QSA,L]
RewriteRule ^api/certainty-factor/(.*)$   api/certainty-factor.php?view=single&id=$1 [NC,QSA,L]

RewriteRule ^api/certainty-factor-v2$   api/certainty-factor-v2.php [NC,QSA,L]
RewriteRule ^api/certainty-factor-v2$   api/certainty-factor-v2.php?view=all [NC,QSA,L]
RewriteRule ^api/certainty-factor-v2/(.*)$   api/certainty-factor-v2.php?view=single&id=$1 [NC,QSA,L]